<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Вас зарегистрировали на сайте <%= FIRM_NAME %> </h1>
<p>
  С этого момента Вы можете начать работать с сайтом.</br>
  Ваш логин и пароль соответствует указанному в заявке.</br>
</p>
<p>
  Для входа на сайт перейдите по адресу: <%= SITE_URL %>.
</p>
<p>Успешной работы!</p></br>
<p>С уважением, Генеральный директор <%= FIRM_NAME %> </p></br>
</body>
</html>