<table class="thead">
  <tr>
    <td class="id"> No </td>
    <td class="club"> Дата отправки </td>
    <td class="mail"> Отправитель </td>
    <td class="full"> Заголовок </td>
    <td class="status"> Статус</td>
    <td class="symbol">  <%= link_to 'Создать сообщение', new_sendman_path %></td>
  </tr>
</table>
