<table class="thead">
  <tr>
    <td class="id"> No </td>
    <td class="name"> Наименование </td>
    <td class="full"> Полное </td>
    <td class="art"> Артикул </td>
    <td class="box"> Шт. </td>
    <td class="status"> Статус</td>
    <td class="symbol"> <%= link_to 'Новое изделие', new_item_path %></td>
  </tr>
</table>
