<table class="thead">
  <tr>
    <td class="name"> Наименование </td>
    <td class="art"> Артикул </td>
    <td class="name"> Штук в коробке </td>
    <td class="name"> Заказанное количество коробок </td>
  </tr>
</table>