<table class="thead">
  <tr>
    <td class="status"> No </td>
    <td class="date"> Дата исполнения </td>
    <td class="full"> Получатель </td>
    <td class="art"> Кол-во мест </td>
    <td class="art"> Статус </td>
    <td class="symbol"> <%= link_to 'Новый заказ', new_order_path %> </td>
  </tr>
</table>
