<table class="thead">
  <tr>
    <td class="id"> No </td>
    <td class="mail"> Дата отправки </td>
    <td class="club"> Получатель </td>
    <td class="full"> Заголовок </td>
    <td class="status"> Статус</td>
    <td class="symbol"> <%= link_to 'Создать сообщение', sendmen_new_path %></td>
  </tr>
</table>
