<table class="thead">
  <tr>
    <td class="id"> No </td>
    <td class="mail"> E-mail </td>
    <td class="club"> Имя </td>
    <td class="status"> Тип </td>
    <td class="addr"> Адрес </td>
    <td class="status"> Маршрут</td>
    <td class="status"> Статус</td>
    <td class="symbol"> <%= link_to 'Новый пользователь', new_user_path %></td>
  </tr>
</table>
