<h1>Список заказов</h1>
<% if @orders.empty? %>
  <b> Нет в базе заказов ! </b>
<% else %>
  <div id="orderList">
    <div class="thead">
      <%= render :partial => 'shared/orders_head'%>
    </div>
    <div class="tbodylong">
        <%= render :partial => 'shared/orders_body'%>
    </div>
  </div>
<% end %>