<% if @in_letters.nil? || @in_letters.empty? %>
    <h1> Нет входящих сообщений! </h1>
<% else %>
    <h2>Входящие сообщения.</h2>
    <div id="userList">
      <div class="thead">
        <%= render :partial => 'shared/in_letters_head'%>
      </div>
      <div class="tbodylong">
        <%= render :partial => 'shared/in_letters_body'%>
      </div>
    </div>
<% end %>
<%= link_to'Отменить', sendmen_index_path %>
